.input-text {
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    width: 100%;
    max-width: 400px;
    padding-right: 20px;
    font-weight: 500;
    margin: 3px;
    color: theme('colors.primary.500');
    box-shadow: 0 0 0 2px theme('colors.primary.500');
    &:focus {
        box-shadow: 0 0 0 3px theme('colors.primary.500');
    }
}